$repo-width: 240px;
$repo-padding: 16px;
$repo-border-width: 2px;
$repo-final-width: $repo-width + $repo-padding * 2 + $repo-border-width * 2;

$repo-margin: 20px;

$container-width-3col: #{$repo-final-width * 3 + $repo-margin * 4};
$container-width-2col: #{$repo-final-width * 2 + $repo-margin * 2};
$container-width-1col: $repo-final-width;

$background: #010;
$foreground: #00b200;
$active: #fff;
$active2: #0366d6;